@import "../color.scss";
@import "../variables.scss";

h1 {
    @include header-style;
}

.about-section{
  display: flex;
  justify-content: space-between;
}

.about-content{
    overflow: scroll;
    
    max-height: 30rem;
h1 {
        font-weight: 300;
        font-size: 4rem;
    }
}