@import "../color.scss";
@import "../variables.scss";

.contact-container{
    display: flex;
    justify-content: space-between;

    .profile-pics{
        min-width: 25rem;
        background-color: $Dim-Gray ;
        border: 1px solid red;
        
    }

    .form-section{
        flex: 2;
        max-width: 50%;
        input{
            width: 100%;
            padding: 1rem;
            border-radius: 0.55rem;
            border: 2px solid $Dim-Gray;
            margin: 0 0 1rem 0;
        }

        textarea{
            font-family: "Arimo";
            max-width: 100%;
            min-width: 100%;
            padding: 1rem;
            height: 10rem;
            border-radius: 1rem;
            margin: 0 0 1rem 0;
            border: 2px solid $Dim-Gray;
        }


           button {
               background-color: $dark-red;
               color: white;
               padding: 1rem;
               border: none;
               outline: none;
               border-radius: 5px;
               margin-left: 80%;
               width: 10rem;
               cursor: pointer;
           }
    }
}
