@import "../variables.scss";
@import "../color.scss";


.resume-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 15rem;

    h1 {
    @include header-style
    }

    img {
        width: 2rem;
    }

}
.resume-container{
    display: flex;
    justify-content: space-between;
    
    
    .tools-section{
        // width: 20rem;
        // flex-grow: 50;
        padding-left: 5rem;
        flex: 1;
        // border: 1px solid red;
        h1{
            color: $dark-red;
            font-size: 1.35rem;
            
        }

        ul{
            b {
                margin-bottom: 2rem;
            }
            padding: 0;
            list-style-type:none;
            li{
                // font-weight: 100;
                color: $Light-Slate-Gray;
                padding: 0.2rem 0 0.2rem 0;

            }
        }
    }
}


.experience-section{
    // border: 1px solid red;
    // flex-grow: 1.32;
    // border-right: 10px;
    max-width: 45%;

    h1 {
        color: $Dim-Gray;
        font-size: 1.35rem;
        // border: 1px solid red;
    }
}

.experience-body{
    // width: 65%;
    
}