.icon-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    min-height: 15rem;
    max-height: 15rem;



    img{
        width: 25px;

        &:hover{
            position: relative;
            top: 0;
            left: 0;
            width: 20px;
            transition:1s cubic-bezier(0, 1.03, .34, .9);
            fill: red;
            cursor:pointer;
        }
    }


}


